openapi: 3.1.0
info:
  contact: {}
  title: Exchange rates
  version: 3.9.3
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
    <!-- ReDoc-Inject: <security-definitions> -->
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Rate
paths:
  /v3/tatum/rate/{currency}:
    get:
      description: |
        <h4>1 credit per API call.</h4><br/>
        <p>Get currenct exchange rate of the supported FIAT / crypto asset. Base pair is EUR by default. E.g. to obtain exchange rate for the Bitcoin,
        response value for the API call will be expressed as 1 BTC = 10,000 EUR.</p>
      operationId: getExchangeRate
      summary: Get current exchange rate 
      tags:
        - Rate
      parameters:
        - description: FIAT or crypto asset
          in: path
          name: currency
          required: true
          schema:
            type: string
            example: BTC
            enum:
              - AED
              - AFN
              - ALL
              - AMD
              - ANG
              - AOA
              - ARS
              - AUD
              - AWG
              - AZN
              - BAM
              - BAT
              - BBD
              - BCH
              - BDT
              - BGN
              - BHD
              - BIF
              - BMD
              - BNB
              - BND
              - BOB
              - BRL
              - BSC
              - ADA
              - MATIC
              - BSD
              - BTC
              - BTN
              - BUSD
              - BWP
              - BYN
              - BYR
              - BZD
              - CAD
              - CAKE
              - CDF
              - CELO
              - CHF
              - CLF
              - CLP
              - CNY
              - COP
              - CRC
              - CUC
              - CUP
              - CVE
              - CZK
              - DJF
              - DKK
              - DOP
              - DOGE
              - DZD
              - EGLD
              - EGP
              - ERN
              - ETB
              - ETH
              - EUR
              - FJD
              - FKP
              - FLOW
              - FUSD
              - FREE
              - GMC
              - GMC_BSC
              - RMD
              - GBP
              - GEL
              - GGP
              - GHS
              - GIP
              - GMD
              - GNF
              - GTQ
              - GYD
              - HKD
              - HNL
              - HRK
              - HTG
              - HUF
              - IDR
              - ILS
              - IMP
              - INR
              - IQD
              - IRR
              - ISK
              - JEP
              - JMD
              - JOD
              - JPY
              - KES
              - KGS
              - KHR
              - KMF
              - KPW
              - KRW
              - KWD
              - KYD
              - KZT
              - LAK
              - LBP
              - LEO
              - LINK
              - LKR
              - LRD
              - LSL
              - LTC
              - LTL
              - LVL
              - LYD
              - MAD
              - MDL
              - MGA
              - MKD
              - MKR
              - MMK
              - MMY
              - MNT
              - MOP
              - MRO
              - MUR
              - MVR
              - MWK
              - MXN
              - MYR
              - MZN
              - NAD
              - NGN
              - NIO
              - NOK
              - NPR
              - NZD
              - OMR
              - PAB
              - PAX
              - PAXG
              - PEN
              - PGK
              - PHP
              - PKR
              - PLN
              - PLTC
              - PYG
              - QAR
              - RON
              - RSD
              - RUB
              - RWF
              - SAR
              - SBD
              - SCR
              - SDG
              - SEK
              - SGD
              - SHP
              - SLL
              - SOS
              - SRD
              - STD
              - SVC
              - SYP
              - SZL
              - THB
              - TJS
              - TMT
              - TND
              - TOP
              - TRY
              - TTD
              - TRON
              - TUSD
              - TWD
              - TZS
              - UAH
              - UGX
              - UNI
              - USD
              - USDC
              - USDT
              - USDT_TRON
              - USDT_MATIC
              - QTUM
              - UYU
              - UZS
              - VEF
              - VND
              - VUV
              - WST
              - XAF
              - XAG
              - XAU
              - XCD
              - WBTC
              - XCON
              - XDR
              - XLM
              - XOF
              - XPF
              - XRP
              - YER
              - ZAR
              - ZMK
              - ZMW
              - ZWL
        - description: FIAT to convert as a basePair
          in: query
          name: basePair
          schema:
            type: string
            example: USD
            enum:
              - AED
              - AFN
              - ALL
              - AMD
              - ANG
              - AOA
              - ARS
              - AUD
              - AWG
              - AZN
              - BAM
              - BBD
              - BDT
              - BGN
              - BHD
              - BIF
              - BMD
              - BND
              - BOB
              - BRL
              - BSD
              - BTN
              - BWP
              - BYN
              - BYR
              - BZD
              - CAD
              - CDF
              - CHF
              - CLF
              - CLP
              - CNY
              - COP
              - CRC
              - CUC
              - CUP
              - CVE
              - CZK
              - DJF
              - DKK
              - DOP
              - DOGE
              - DZD
              - EGP
              - ERN
              - ETB
              - ETH
              - EUR
              - FJD
              - FKP
              - FLOW
              - FUSD
              - GBP
              - GEL
              - GGP
              - GHS
              - GIP
              - GMD
              - GNF
              - GTQ
              - GYD
              - HKD
              - HNL
              - HRK
              - HTG
              - HUF
              - IDR
              - ILS
              - IMP
              - INR
              - IQD
              - IRR
              - ISK
              - JEP
              - JMD
              - JOD
              - JPY
              - KES
              - KGS
              - KHR
              - KMF
              - KPW
              - KRW
              - KWD
              - KYD
              - KZT
              - LAK
              - LBP
              - LKR
              - LRD
              - LSL
              - LTL
              - LVL
              - LYD
              - MAD
              - MDL
              - MGA
              - MKD
              - MMK
              - MNT
              - MOP
              - MRO
              - MUR
              - MVR
              - MWK
              - MXN
              - MYR
              - MZN
              - NAD
              - NGN
              - NIO
              - NOK
              - NPR
              - NZD
              - OMR
              - PAB
              - PEN
              - PGK
              - PHP
              - PKR
              - PLN
              - PYG
              - QAR
              - RON
              - RSD
              - RUB
              - RWF
              - SAR
              - SBD
              - SCR
              - SDG
              - SEK
              - SGD
              - SHP
              - SLL
              - SOS
              - SRD
              - STD
              - SVC
              - SYP
              - SZL
              - THB
              - TJS
              - TMT
              - TND
              - TOP
              - TRY
              - TTD
              - TWD
              - TZS
              - UAH
              - UGX
              - USD
              - UYU
              - UZS
              - VEF
              - VND
              - VUV
              - WST
              - XAF
              - XAG
              - XAU
              - XCD
              - XDR
              - XOF
              - XPF
              - YER
              - ZAR
              - ZMK
              - ZMW
              - ZWL
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRate'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
components:
  schemas:
    ExchangeRate:
      description: FIAT value in EURO of the FIAT or crypto asset.
      properties:
        id:
          description: FIAT or crypto asset.
          example: BTC
          type: string
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BAT
            - BBD
            - BCH
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRL
            - BSD
            - BTC
            - BTN
            - BWP
            - BYN
            - BYR
            - BZD
            - CAD
            - CDF
            - CHF
            - CLF
            - CLP
            - CNY
            - COP
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DOGE
            - DZD
            - EGP
            - ERN
            - ETB
            - ETH
            - EUR
            - FJD
            - FKP
            - FLOW
            - FUSD
            - FREE
            - GMC
            - GMC_BSC
            - RMD
            - GBP
            - GEL
            - GGP
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - IMP
            - INR
            - IQD
            - IRR
            - ISK
            - JEP
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LEO
            - LINK
            - LKR
            - LRD
            - LSL
            - LTC
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MKR
            - MMK
            - MMY
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PAX
            - PAXG
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PLTC
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TRON
            - TUSD
            - BUSD
            - TWD
            - TZS
            - UAH
            - UGX
            - UNI
            - USD
            - USDC
            - USDT
            - USDT_TRON
            - USDT_MATIC
            - QTUM
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WBTC
            - WST
            - XAF
            - XAG
            - XAU
            - XCD
            - XCON
            - XDR
            - XLM
            - XOF
            - XPF
            - XRP
            - YER
            - ZAR
            - ZMK
            - ZMW
            - ZWL
        value:
          description: FIAT value of the asset in given base pair.
          example: '1235.56'
          type: string
        basePair:
          description: Base pair.
          example: EUR
          default: EUR
          type: string
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BAT
            - BBD
            - BCH
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRL
            - BSD
            - BTC
            - BTN
            - BWP
            - BYN
            - BYR
            - BZD
            - CAD
            - CDF
            - CHF
            - CLF
            - CLP
            - CNY
            - COP
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DOGE
            - DZD
            - EGP
            - ERN
            - ETB
            - ETH
            - EUR
            - FJD
            - FKP
            - FLOW
            - FUSD
            - FREE
            - GMC
            - GMC_BSC
            - RMD
            - GBP
            - GEL
            - GGP
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - IMP
            - INR
            - IQD
            - IRR
            - ISK
            - JEP
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LEO
            - LINK
            - LKR
            - LRD
            - LSL
            - LTC
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MKR
            - MMK
            - MMY
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PAX
            - PAXG
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PLTC
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TRON
            - TUSD
            - BUSD
            - TWD
            - TZS
            - UAH
            - UGX
            - UNI
            - USD
            - USDC
            - USDT
            - USDT_TRON
            - USDT_MATIC
            - QTUM
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WBTC
            - WST
            - XAF
            - XAG
            - XAU
            - XCD
            - XCON
            - XDR
            - XLM
            - XOF
            - XPF
            - XRP
            - YER
            - ZAR
            - ZMK
            - ZMW
            - ZWL
        timestamp:
          description: Date of validity of rate in UTC.
          example: 1572031674384
          type: number
        source:
          description: Source of base pair.
          example: fixer.io
          type: string
      type: object
      required:
        - id
        - value
        - basePair
        - timestamp
        - source
    Error401:
      properties:
        statusCode:
          example: 401
          description: '401'
          type: number
        errorCode:
          example: subscription.unauthorized
          description: Subscription missing or invalid
          type: string
        message:
          example: 'Unable to find valid subscription for ''${apiKey}'' or subscription not active anymore.'
          description: 'Unable to find valid subscription for ''${apiKey}'' or subscription not active anymore.'
          type: string
      required:
        - statusCode
        - message
      type: object
    Error500:
      properties:
        message:
          example: Internal server error
          description: Internal server error
          type: string
        statusCode:
          example: 500
          description: '500'
          type: number
        errorCode:
          example: internal.error
          description: Internal server error
          type: string
      required:
        - statusCode
        - message
      type: object
  securitySchemes:
    X-Api-Key:
      description: |
        To maintain the highest security level, Tatum requires X-API-Key HTTP header.
        This X-API-Key represents identification of the plan and can be used by 1 developer or per environment.
        Each X-API-Key is bound to the test or production blockchains.
      in: header
      name: x-api-key
      type: apiKey
